.DS_Store
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr
*.pickle
!/eval/logged_models/reference_model.pickle
__pycache__
temp_*
condaenv.*
/eval/logs
/eval/data/bpi2017.csv
/eval/data/bpi2017.xes
/eval/data/log.csv
/eval/data/bpi2018_application_log.csv
*.png
*.svg
/eval/logged_models
/eval/results




/venv/
/eval/baselines/model/
